*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: #20202b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:active {
    outline: 0;
  }
}
