.container {
  margin: 3.25rem auto;
  width: 43rem;
  background-color: var(--body-background);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
